---
http_interactions:
- request:
    method: get
    uri: https://api.yummly.com/v1/api/recipes?_app_id=1d959495&_app_key=3d5cc22a861f07f9b991e196e9193eec&q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - 13a7157a-99bf-479c-8fc7-cb6c50f29e49
    body:
      encoding: ASCII-8BIT
      string: '{"criteria":{"q":"","allowedIngredient":null,"excludedIngredient":null},"matches":[{"imageUrlsBySize":{"90":"https://lh3.googleusercontent.com/577pVdud33b4EopiSMyqWUB25KBM7KVnXtL_B7jlLxzEmUeLPZNctNN1vhgLtBtf_8qQBVCamNfR6BiiHbdc=s90-c"},"sourceDisplayName":"She
        Wears Many Hats","ingredients":["almond butter","butter","powdered sugar","vanilla
        extract","semisweet chocolate","white chocolate"],"id":"Chocolate-Almond-Butter-Easter-Eggs-1533208","smallImageUrls":["https://lh3.googleusercontent.com/LmPkfy-mX0fJ5BvQIJ4hMhyZcf1dqoK8RAHhIoiS0rfdeT_xXSSWhB5Cat5x6zDtQ8s12SIvismqBgsWdeR96A=s90"],"recipeName":"Chocolate
        Almond Butter Easter Eggs","totalTimeInSeconds":1800,"attributes":{"course":["Desserts"],"holiday":["Easter"]},"flavors":{"piquant":0.0,"meaty":0.8333333333333334,"bitter":0.8333333333333334,"sweet":0.8333333333333334,"sour":0.16666666666666666,"salty":0.16666666666666666},"rating":4},{"imageUrlsBySize":{"90":"https://lh3.googleusercontent.com/UQqAK_Fve8oG3tl_1Fsz4mCmtF305-ckHhYeUlxMlP6774x3PwwRU4_tAbNICfjzjauHtHLIQFh7MWf5eqlA=s90-c"},"sourceDisplayName":"Life
        in the Lofthouse","ingredients":["unsweetened applesauce","granulated sugar","large
        eggs","all-purpose flour","baking soda","baking powder","salt","cinnamon","carrots","butter","cream
        cheese","almond extract","powdered sugar"],"id":"Carrot-Sheet-Cake-1554020","smallImageUrls":["https://lh3.goo[...]
