<div class="panel">
  <h3>Your profile, <%= @user.email %><br></h3>
  <% @recipes = Recipe.where(user: @user.id) %>
  <div class="user_recipes">
    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %> (<%= recipe.duration %>)</li>
      <% end %>
    </ul>
  </div>
</div>
