<h1>It's Suppertime!</h1>

How can we help you plan your next meal?
<br />
<%= link_to "Lets check out the cookbook!", recipes_path %>
<br />
<%= link_to "I want to try something new!", ingredients_path %>
