<h2>It's Suppertime!</h2>
<div class="welcome">
  How can we help you plan your next meal?
  <br />
  <div class="welcome_links">
    <%= link_to "Lets check out the cookbook!", recipes_path, class: "button" %>
    <%= link_to "I want to try something new!", ingredients_path, class: "button" %>
  </div>
</div>
