<div class="panel">
  <h2>It's Suppertime!</h2>
  <div class="welcome">
    How can we help you plan your next meal?
    <br />
    <div class="welcome_links">
      <%= link_to "Let's see what other users have added!", recipes_path, class: "button" %>
      <%= link_to "What does the internet suggest I make?", ingredients_path, class: "button" %>
    </div>
  </div>
</div>
