/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.bg-splash {
  height: 100%;
  width: 100%;
  background-image: url('app_background2.png');
  -moz-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}

.notice {
  background-color: #457744;
  color: #ffffff;
  padding-left: 25px;
}

.alert {
  background-color: #b02542;
  color: #ffffff;
  padding-left: 25px;
}

.panel {
  background-color: rgba(254, 254, 254, 0.8);
  padding: 15px;
}

a {
  color: #7a344d;
}

a:hover {
  color: #61293d
}
