$white: #fefefe;
$brown: #b9b3a4;
$purple: #7a344d;
$red: #e84336;
$black: #0a0a0a;
$green: #4f63ba;
$off-white: #d8d6db;


#user_nav {
  background-color: $purple;
  color: $white;

  a {
    color: $off-white;
  }
}
